:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #474747;
  background-color: #fcfbf2;

  --main-color: #474747;
  --main-filter: invert(21%) sepia(0%) saturate(53%) hue-rotate(286deg)
    brightness(111%) contrast(84%);
  --bg-color: #242424;
  --header: #efebdd;
}

p {
  margin: 0;
}
